*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.Rectangle-1 {
  width: 1366px;
  height: 490px;
  background-image: linear-gradient(to top, #0f3c8d, #194dd5);
}
.logo{
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 25px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;

}
.nav-links li{
    list-style: none;
}
.nav-links a{
    letter-spacing: 3px;
    /* font-weight: bold; */
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.nav-links button{
    height: 30px;
    width: 78px;
    border-radius: 18px;
    background-color: #007BFF;
    color: #ffffff;
    border-color: #007BFF;
    /* background: none; */
    box-shadow: none;
    border: none;
}
.main{
    display: flex;
}
.area1{
    width: 60%;
}
.main-heading p{
  font-family: Nunito;
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.sub-heading p{
  font-family: Nunito;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
.btn{
    text-align: center;
    margin-top: 35px;
}
.btn .button1{
  width: 236px;
  height: 42px;
  border-radius: 42px;
  border: solid 1px #007bff; 
  background-color: #1343AC;
}
.btn .button2{
  width: 236px;
  height: 42px;
  border-radius: 42px;
  background-color: #007bff;
  border: none;
}
.area2{
    width: 40%;
    text-align: center;
}
.bottom{
    display: flex;
    width: 1366px;
    height: 177px;
    justify-content: space-evenly;
    background-color: rgb(12, 34, 71);
}
.card-1 {
    display: block;
    text-align: center;
    padding: 25px;

}
.card-2 {
    display: block;
    text-align: center;
    padding: 25px;
}
.card-3 {
    display: block;
    text-align: center;
    padding: 25px;

}
.first{
    color: #ffffff;
    font-size: 22px;
    padding: 5px;
}
.second{
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}
